streamlit==1.39.0
firebase-admin==6.3.0
plotly==5.24.0
pandas==2.2.3
numpy==1.26.4
Pillow==9.5.0
easyocr==1.7.2
opencv-python-headless==4.10.0.84
torch==2.3.1+cpu
torchvision==0.18.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html